<div class="contents">
  <h1>Let's talk with others!</h1>
  <p>Talk Aboutは共通の話題を持つ人と会話を楽しむサービスです。</p>
  <p>あなたと同じ話題を持つ人を探しましょう！</p>
  <%= link_to "登録する！", signup_path_url, class:"signup_btn" %>
</div>
