<% if message.user == current_user %>
  <div class="my_message">
    <p><%= "#{User.find(message.user_id).name}: #{message.content}" %></p>
  </div>
<% else %>
  <div class="others_message">
    <p><%= "#{User.find(message.user_id).name}: #{message.content}" %></p>
  </div>
<% end %>
