<div class="my_message">
  <div class="chat_message"><%= simple_format(message.content, {}, wrapper_tag: "div class='my_messages'") %><%= image_tag 'icon.png'%></div>
  <p class="chat_user_name"><%= "#{User.find(message.user_id).name}" %></p>
</div>
