<div class="user_page">
    <%= image_tag 'icon.png'%>
    <div class="user_name">
      <%= @user.name%>
    </div>
    <div class="build_room">
      作成したルーム
    </div>
    <div class="join_room">
      参加中のルーム
    </div>
  </div>
</div>
