<div class="chat_area">
  <p class="room_keyword">このルームの話題:<%= @room.keyword %></p>
  <div class="chat_form">
    <textarea class="text_box"></textarea>
    <input type="submit" value="投稿">
  </div>
</div>
