.chat_area {
   background-image: image-url('/background.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   overflow: auto;
   height: 750px;
   width: 70%;
   margin: 0 auto;
  .room_keyword {
    display: block;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px;
    width:50%;
  }
  .chat_form {
    background-color: rgba(34, 49, 52, 1.0);
	  width:70%;
	  position:fixed;
	  bottom:0;
    text-align: center;
    .text_box {
      width: 35%;
      border-radius: 15px;
    }
  }
}

.search_title {
  text-align: center;
}

.result_index {
  border: 1px solid rgb(228, 228, 228);
  text-align: center;
  .to_room {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
    display: inline-block;
    margin-left: 2px;
    transition: all 0.5s;
    text-decoration: none;
    &:hover {
      background-color: rgba(176, 196, 222, 0.7);
    }
  }
}

.result_index ul li {
  display: inline;
}
