.chat_area {
  width: 70%;
  background-color: #b0c4de;
  margin-left: 15%;
  .chat_room {
    color: #b0c4de;
    text-align: center;
    padding-bottom: 80%;
    .chat_form {
      margin-top: 68%;
    }
  }
}
