<header>
  <div class="header">
    <div class="header_title">
      <a href="/">Talk About</a>
    </div>
    <div class="header_login">
      <a class="login_btn" href="#">ログイン</a>
    </div>
  </div>
</header>
